{%- assign color_index = include.index | default: 0 | modulo: 6 | plus: 1 -%}
<li class="card c{{ color_index }}">
  <h2 class="card__title"><a href="{{ include.post.url | relative_url }}">{{ include.post.title | escape }}</a></h2>

  {%- assign blurb = include.post.description | default: include.post.excerpt -%}
  {%- if blurb %}<div class="card__excerpt">{{ blurb | strip_html | normalize_whitespace | truncatewords: 26 }}</div>{% endif -%}

  <div class="card__meta">
    <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: "%-d %b %Y" }}</time>
    {%- assign topics = include.post.tags | concat: include.post.categories -%}
    {%- for t in topics -%}
      <a class="tag" href="{{ '/tags/' | relative_url }}#{{ t | slugify }}">{{ t }}</a>
    {%- endfor -%}
  </div>
</li>
